body {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
ul, li {
    list-style-type: none;
    list-style-image: none;
}
#container {
    text-align: center;
}
.search-top {
    width: 100px; 
    height: 100px; 
    position: relative;
    display: inline-block;
}
.search-input-wrap {
    text-align: center; 
    position: relative; 
    width: 444px; 
    margin: 10px auto 0;
    animation: home-fade .6s ease-in-out 1;
}
.search-input {
    height: 50px;
    line-height: 50px;
    border: 1px solid rgba(24,160,251,.39);
    background: #daebf7;
    display: inline-block;
    width: 100%;
    color: #2c2c2c;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;
    font-size: 18px!important;
    transition: all .4s;
}

#iconfont-container {
    overflow: auto;
    padding: 0 10px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
#iconfont-container li {
    float: left;
    margin: 15px 13px;
    width: 88px;
    height: 90px;
    text-align: center;
    position: relative;
    overflow: visible;
    border: 1px dashed transparent;
    border-radius: 5px;
}
#iconfont-container li:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    border-radius: 4px;
}
#iconfont-container li .icon-twrap {
    display: inline-block;
    margin-top: 18px;
}
#iconfont-container li svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    font-size: 36px;
}
#iconfont-container li .icon-name {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #666;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#error {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

#empty-search {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 40px;
}

.input {
    display: flex;
    width: 100%;
    height: 30px;
    margin: 1px 0 1px 0;
    padding: 8px 4px 8px 7px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    outline: none;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 16px;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.005em;
    margin-bottom: 5px;
}

.input:hover {
    color: rgba(0, 0, 0, 0.8);
}

.input:active, .input:focus {
    padding: 8px 4px 8px 6px;
    color: #000000;
    border: 2px solid #18a0fb;
    border-radius: 2px;
}

.input::selection {
    color: #000000;
    background-color: rgba(24, 145, 251, 0.3);
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.input:disabled {
    color: rgba(0, 0, 0, 0.3);
}

.shadow {
    box-shadow: 0px -10px 20px 5px grey
}
